.navButton{
    background-color: white;
    
    
}

.navButton:focus{
    color:white;
    background-color:rgb(51, 129, 255);
}

.logout{
    background-color: aquamarine;
    margin-right: 20px
}

.accountMenu{
text-align: right;
padding-right: 5%;    
}

.navDiv{
    padding-left: 25%
}

.rightTopButton{
font-size: 1px
}

label{
    position: relative;
}
#fileinp{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width:78px;
}
#btn{
    margin-right: 5px;
}
#text{
    color: red;
}

.inputDiv{
width:70%;
padding-top: 1%;
}

.navSelect{
    background-color:rgb(51, 129, 255);
}







